@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    width: 85%;
    margin: 0 auto;
    height: 71vh;
    overflow: scroll;
}

.items__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    row-gap: 1rem;
}